<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
<div class ="container">
  <div class ="collapse navbar-collapse">
    <div class="nav navbar-nav navbar-right">
        
    </div>
    
</div>  
</div>

    </body>
</html>