

<link rel="stylesheet" href="./stylesheets/landing.css" type="text/css">
<div class="top">
  <!--<nav class="nav">-->
  <!--  <div class="nav-inner">-->
  <!--    <h1 class="logo"></h1>-->
  <!--    <ul class="nav-links">-->
        
  <!--    </ul>-->
  <!--  </div>-->
  <!--</nav>-->
  <div class="hero">
    <div class="hero-tag">
      <div class="hero-tag-inner"><span class="hero-tag-line">Pay</span><span class="hero-tag-line">Free</span><span class="hero-tag-line">Stay</span><span class="hero-tag-line">Free</span></div>
    </div>
    <div class="hero-text">
      <div class="hero-text-inner">
        <p class="hero-text-content">Welcome to the world of KnottPay. Payment has never been easier! With no service tax or payment tax! Enjoy the new world of payment</p><a class="button" href="/login">Sign In</a>
        <p><a class="button" href="/register">Sign Up</a></p>
      </div>
    </div>
  </div>
</div>


