<% include ./partials/header %> 
<link rel="stylesheet" href="../stylesheets/register.css" type="text/css">




<a class="btn btn-lg btn-primary btn-block" href="/campgrounds">Proceed</a>
<% include ./partials/footer %> 
 