   <meta charset="UTF-8">
  <title>To-do dashboard UI [WIP]</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.3/css/bootstrap.min.css'>
<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900'>
<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
 <link rel="stylesheet" href="/stylesheets/payment.css" type="text/css">
 
<main class="wrapper todo__app">
  <div class="app__header">
    <div class="container-fluid">
      <ul class="app__nav">
        <li>
          <a class="nav__menu-icon" href="#"><i class="material-icons">menu</i></a>
        </li>

        <li>
          
        </li>

        <li>
          <a class="nav__user" ><%= currentUser.username %></a>
        </li>
      </ul>
    </div>
  </div>


  <div class="container-fluid app__body">
    <div class="row">
      <div class="col-md-13">
        <section class="todo__col todo--mit">
          <div class="col__heading">
            <h1>
              <span>Most Important Tasks (3)</span>

              <a href="#">
                <i class="material-icons">more_vert</i>
              </a>
            </h1>
          </div>
          
          <div class="col__feed">
            <div class="todo__item">
              <h2 class="item__subject">Square API implementation</h2>
              
              <div class="item__meta">
                <p>
                  <i class="material-icons">access_time</i>                  
                  <span class="meta__time">Aug 5, 2016</span>
                </p>
              </div>
              
              <p class="item__slug">Lorem ipsum dolor sit amet, consectetur adipisicing elit culpa obcaecati.<p>
              
              <ul class="item__actions">
                <li>
                  <a href="#" title="Mark as done">
                    <i class="material-icons">check</i>
                  </a>
                </li>
                
                <li>
                  <a href="#" title="Edit task">
                    <i class="material-icons">mode_edit</i>
                  </a>
                </li>

                <li>
                  <a href="#" title="Archive task">
                    <i class="material-icons">archive</i>
                  </a>
                </li>

                <li>
                  <a href="#" title="Delete task">
                    <i class="material-icons">delete</i>
                  </a>
                </li>
              </ul>
            </div>

            }
              
          </div>
        </section>
      </div>
    </div>
  </div>
</main>