body {
	background-image: url("https://previews.123rf.com/images/nattalex/nattalex1601/nattalex160100001/51007577-Plan-of-the-house-on-a-blue-background--Stock-Vector-blueprint.jpg");
	font-family: 'Roboto', sans-serif;
}
.container2{
	width: 50%;
	height: 40%;
	min-width: 636px;
	min-height: 456px;
	margin: auto;
	margin-top: 6%;
	margin-left: 7%;
	
}
.container1 {
	width: 50%;
	height: 40%;
	min-width: 636px;
	min-height: 456px;
	margin: auto;
	margin-top: 10%;
	overflow: hidden;
	border-radius: 5px 5px 5px 5px;
	-webkit-box-shadow: 0px 5px 21px 0px rgba(128,128,128,0.2);
	-moz-box-shadow: 0px 5px 21px 0px rgba(128,128,128,0.2);
	box-shadow: 0px 5px 21px 0px rgba(128,128,128,0.2);
}


a {
	color: #0080ff;
	text-decoration: none;
}

h6 {
	color: #9aa3ab;
	font-weight: 300;
	line-height: 15px;
}

h5 {
	color: #4dc3ff;
	font-weight: 300;
}

h4 {
	font-weight: 300;
	font-size: 13px;
	color: #97a2ad
}

h3 {
	color: #58636a;
	font-weight: 500;
}


.left {
	background-color: #003366;
	width: 39%;
	height: 443px;
	border-radius: 5px 0 0 5px;
	float: left;
	color: #ffffff;
}

.info-box {
	margin-top: 35px;
	margin-left: 35px;
	margin-right: 35px;
}

.receipt {
	font-weight: 300;
	font-size: 15px;
	line-height: 26px;
	padding-top: 10px;
  padding-bottom: 15px;
	border-bottom: 1px solid #3895f4;
	height: 15%;
}

.receipt > span {
	font-weight: 500;
	font-size: 21px;
}

.entry {
	border-bottom: 1px solid #3895f4;
	height: 15%;
	overflow: hidden;
	padding-top: 15px;
}

.entry > p {
	font-weight: 300;
	font-size: 13px;
	line-height: 26px;
	margin-top: 0px !important;
	float: left;
}

.entry > i {
	margin-top: 4px;
	margin-right: 13px;
	float: left;
	color: #000000;
}

span {
	font-weight: 500;
	font-size: 16px;
}

.entry:last-child {
	border-bottom: none;
}


.right {
	background-color: #fefefe;
	width: 61%;
	height: 100%;
	float: left;
	border-radius: 0 5px 5px 0;
}

.content {
	margin-top: 50px;
	margin-left: 40px;
	margin-right: 40px;
}

.header {
	overflow: hidden;
	border-bottom: 1px solid #d7e2e7;
	height: 50px;
}

.header > img {
	width: 100px;
	float: left;
}

.header > h4 {
	text-align: right;
	margin-top: 10px;
}

.main {
	margin-top: 35px;
}

.message {
	margin-top: 40px;
}

.message > p {
	font-weight: 300;
	font-size: 15px;
	color: #7a838d;
	line-height: 30px;
}

.message > h6 {
	margin-top: 10px;
}

.footer {
	overflow: hidden;
	border-top: 1px solid #d7e2e7;
	margin-top: 40px;
	padding-top: 30px;
}

.footer > a {
	font-size: 13px;
	font-weight: 500;
	float: left;
}

.footer > h6 {
	color: #7a838d;
	text-align: right;
	margin-top: 0px !important;
}

/* additional part of photo*/
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    float:right;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: all; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 5px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}