body {
  padding: 0;
  margin: 0;
  background: #eee;
}

h1 {
  margin-bottom: 1.2rem;
  font-size: .95rem;
  font-weight: 600;
}

h2 {
  font-size: 1rem;
}

p {
  margin: 0;
}

a {
  -webkit-transition: all 0.2s cubic-bezier(0.4, 0, 1, 1);
  transition: all 0.2s cubic-bezier(0.4, 0, 1, 1);
}
a:focus, a:hover {
  text-decoration: none;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.app__header {
  padding-top: 1.25rem;
  padding-bottom: 1rem;
  background: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.09), 0 2px 10px 0 rgba(0, 0, 0, 0.08);
}

.app__nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.app__nav a {
  vertical-align: middle;
  color: #212121;
}
.app__nav a:focus, .app__nav a:hover {
  color: #00b0ff;
}
.app__nav i {
  font-size: 1.75rem;
}

.app__nav .app__logo {
  color: #00b0ff;
}

.nav__user {
  font-weight: 700;
  color: #212121;
}
.nav__user img {
  position: relative;
  top: -2px;
  margin-right: 10px;
  max-width: 25px;
  border-radius: 50%;
}

.app__body {
  padding-top: 1rem;
}

.todo__col {
  padding: 1rem;
  background: #f7f7f7;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.09), 0 2px 10px 0 rgba(0, 0, 0, 0.08);
}

.todo--mit h1 span {
  color: #ff3d00;
}

.todo--work h1 span {
  color: #42a5f5;
}

.todo--personal h1 span {
  color: #00bfa5;
}

.todo--done h1 span {
  color: #263238;
}

[class^=material-] {
  font-size: 1rem;
}

.col__heading {
  color: #212121;
}
.col__heading a {
  position: relative;
  left: 2px;
  float: right;
  color: inherit;
}
.col__heading a:focus, .col__heading a:hover {
  color: #00b0ff;
}
.col__heading i {
  font-size: 1.25rem;
}

.todo__item {
  padding: 1rem;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.09), 0 2px 10px 0 rgba(0, 0, 0, 0.08);
  cursor: pointer;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 0.2s cubic-bezier(0.4, 0, 1, 1);
  transition: all 0.2s cubic-bezier(0.4, 0, 1, 1);
}
.todo__item:focus, .todo__item:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-transform: scale(1.035);
          transform: scale(1.035);
  /*.item__subject {
    color: $color-blue-light;
  }*/
}
.todo__item + .todo__item {
  margin-top: 1rem;
}

.item__meta {
  color: #666;
}

.item__meta i {
  position: relative;
  top: 1px;
}

.meta__time {
  position: relative;
  top: -2px;
  font-size: .85rem;
  font-weight: 600;
}

.item__subject {
  margin-bottom: .65rem;
  font-weight: 700;
  -webkit-transition: color 0.2s cubic-bezier(0.4, 0, 1, 1);
  transition: color 0.2s cubic-bezier(0.4, 0, 1, 1);
}

.item__slug {
  margin-top: .25rem;
  font-size: .85rem;
  color: #999;
}

.item__actions {
  margin-top: 1.25rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.item__actions i {
  font-size: 1.25rem;
  color: #bbb;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 0.2s cubic-bezier(0.4, 0, 1, 1);
  transition: all 0.2s cubic-bezier(0.4, 0, 1, 1);
}
.item__actions i:focus, .item__actions i:hover {
  color: #666;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.app__btn {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  padding: .5rem .5rem .25rem;
  color: #fff;
  background: #00b0ff;
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.09), 0 2px 10px 0 rgba(0, 0, 0, 0.08);
}
.app__btn:focus, .app__btn:hover {
  color: #fff;
  background: lighter(#00b0ff, 8%);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.app__btn i {
  font-size: 1.5rem;
}
